.vs/
bin/
obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog

/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Ipsen5_groep01_frontend.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


#
*.appsettings.json

#
appsettings.json

appsettings.Development.json

*.appsettings.Development.json

#
apikey.json

*.apikey.json