@page "/LeverancierDossierScherm/{candidateId}"
@layout MainLayout
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@using Services
@inject LoginService LoginService
@inject ContractService ContractService

@using Models

@* <input type="text" placeholder="Zoeken" @bind="searchTerm" @oninput="HandleInput"/> *@


 
<div class="customer-container-background">

    <div class="page-title">Mijn Opdrachten</div>
    <div class="filter-container">
        <div class="filters">
            <div class="search-container">
                <EditForm Model="dossiers" FormName="createCustomerAddressForm">
                    <DataAnnotationsValidator />

                    <div class="form-group search-field">
                        <InputText id="name" @bind-Value="searchTerm" @oninput="HandleInput" class=" form-control" placeholder="Zoeken"></InputText>
                    </div>

                </EditForm>
            </div>

           @*  <div class="dropdown-container">
                <select class="dropdown-field">
                    <option value="">Selecteer filter</option>
                    <option value="option1">Optie 1</option>
                    <option value="option2">Optie 2</option>
                    <option value="option3">Optie 3</option>
                </select>
            </div> *@

        </div>

    
    </div>

    <div class="customer-container">

        <div class="customer-header">
            <div class="header-title">Opdracht</div>
            <div class="header-title">Proffesional</div>
            <div class="header-title">Beschrijving</div>
            <div class="header-title">Status</div>
            <div class="header-title"></div>
            <div class="header-title">Acties</div>
        </div>
       
        @foreach (var contract in ContractService.Contracts.Skip((currentPage - 1) * pageSize).Take(pageSize))
        {
            <div class="customers" @onclick="()=>navigate(contract.CandidateId, contract.Id)">
                <div>@contract.Id</div>
                <div>@contract.CandidateId</div>
                <div>@contract.JobDescription</div>
                <div>@contract.Status</div>
                <div></div>
                <div></div>
                
                <button class="view_customer">
                    <img class="eye_icon" src="/icons/right-arrow-icon.svg" alt="Bekijk" />
                </button>
             
            </div>
        }

        <div class="pagination-container">
            <div class="pagination-buttons">

                <button class="previous-page-button" @onclick="() => ChangePage(-1)">
                    @if (currentPage > 1)
                    {
                        <img class="rotate-18" src="/icons/left-arrow-icon.svg" alt="Bewerk" />
                    }
                </button>

                <div class="pagination-info">
                    @currentPage van @totalPages
                </div>

                <button class="next-page-button" @onclick="() => ChangePage(1)">
                    @if (dossiers.Count() > currentPage * pageSize)
                    {
                        <img class="rotate-180" src="/icons/left-arrow-icon.svg" alt="Bewerk" />
                    }
                </button>

            </div>
        </div>

    </div>
</div>
 

@code {
    private List<Dossier> dossiers = new List<Dossier>();
    private List<Dossier> filteredDossiers = new List<Dossier>();
    private string searchTerm = "";
    private int pageSize = 10;
    private int currentPage = 1;
    private int totalPages => (int)Math.Ceiling((double)dossiers.Count() / pageSize);

    [Parameter]
    public string candidateId {get; set;}
    
    protected override async Task OnInitializedAsync()
    {
        FilterDossiers();
        await getContract();
    }

    public async Task getContract(){
        await this.ContractService.getContractsByCandidateId(candidateId);
    }
    

    protected override void OnAfterRender(bool firstRender){
        if(firstRender){
            LoginService.setIsAdmin(false);
            LoginService.setLoggedIn(true);
        }
    }

    private void HandleInput(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString().ToUpper();
        FilterDossiers();
    }

    private void FilterDossiers()
    {
        if (searchTerm == null)
        {
            filteredDossiers = dossiers;
        }
        else
        {
            filteredDossiers = dossiers.Where(t => t.KandidaatId.ToUpper().Contains(searchTerm)).ToList<Dossier>();
        }
    }

    private void ChangePage(int increment)
    {
        currentPage += increment;
    }

    public void navigate(Guid candidateId, Guid contractId)
    {
        this.NavigationManager.NavigateTo($"/LeverancierDossierInzien/{candidateId}/{contractId}");
    }
}