.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    background-color: #F5F5F5;
}



.top-row {
    border-bottom: 1px solid #d6d5d5;
    height: 130px;
    display: flex;
    align-items: center;
}

