.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
}

main {
    flex: 1;
}

.top-row {
    height: 10vmin;
    display: flex;
    align-items: center;

}

article{
    margin: 0;
    padding: 0;
}

