@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

@{
    var currentPage = NavigationManager.Uri;
    var hideNavMenu = false;

    void checkMenu()
    {
        if (currentPage.Equals("https://localhost:7021/signIn") || currentPage.Equals("https://localhost:7021/signin") || currentPage.Equals("https://localhost:7021/signIn") || currentPage.Equals("https://localhost:7021/"))
        {
            hideNavMenu = true;
        }
    }

    checkMenu();
}

<div class="page">
    <div class="top-row @(!hideNavMenu ? "" : "top-row-hidden")">
        @if (hideNavMenu == false)
        {
            <NavMenu />
        }
    </div>

    <main>
        <article class="content ">
            @Body
        </article>
    </main>
</div>

