@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

@{
    var currentPage = NavigationManager.Uri;
    var hideNavMenu = false;

    void CheckMenu()
    {
        var uri = new Uri(currentPage);
        var currentPagePath = uri.AbsolutePath;

        if (currentPagePath.Equals("/signIn", StringComparison.OrdinalIgnoreCase) ||
            currentPagePath.Equals("/", StringComparison.OrdinalIgnoreCase))
        {
            hideNavMenu = true;
        }
    }

    CheckMenu();
}

<div class="page">
    <div class="top-row @(!hideNavMenu ? "" : "top-row-hidden")">
        @if (hideNavMenu == false)
        {
            <NavMenu />
        }
    </div>

    <main>
        <article class="content ">
            @Body
        </article>
    </main>
</div>

