@inherits LayoutComponentBase
@using Ipsen5_groep01_frontend.Components
<div class="page">
    <div class="top-row">
        <NavMenu />
    </div>
    <main>
        <article class="content ">
             <Notificatie />
            @Body
        </article>
    </main>
</div>

