@rendermode InteractiveServer


@using Services;

@using Ipsen5_groep01_frontend.Interfaces
@inject LoginService LoginService
@inject NavigationManager NavigationManager
@inject AuthService AuthService
@implements Observer

@using Ipsen5_groep01_frontend.Services


 <style>
    @@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
</style>



<div class="navbar">
    <img class="staffingnow_logo" src="images/staffingnow_logo.png" alt="logo" />

    @if (loggedIn && role == "Admin")
    {
        <div class="admin-buttons">
            <div class="button">
                <NavLink class="link" href="Professionals" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Inter', sans-serif; letter-spacing: 0.16px;"
                         ActiveClass="active-link"
                         onmouseover="this.style.color='#FF6700';" onmouseout="this.style.color='#1A222D';">
                    <span class="" aria-hidden="true"></span> Proffesionals
                    <div class="active-indicator"></div>
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="Customer" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Inter', sans-serif; letter-spacing: 0.16px;"
                         ActiveClass="active-link"
                         onmouseover="this.style.color='#FF6700';" onmouseout="this.style.color='#1A222D';">
                    <span class="" aria-hidden="true"></span> Klanten
                    <div class="active-indicator"></div>
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="contract" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Inter', sans-serif; letter-spacing: 0.16px;"
                         ActiveClass="active-link"
                         onmouseover="this.style.color='#FF6700';" onmouseout="this.style.color='#1A222D';">
                    <span class="" aria-hidden="true"></span> Contracten
                    <div class="active-indicator"></div>
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="documentbeheer" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Inter', sans-serif; letter-spacing: 0.16px;"
                         ActiveClass="active-link"
                         onmouseover="this.style.color='#FF6700';" onmouseout="this.style.color='#1A222D';">
                    <span class="" aria-hidden="true"></span> Documenten
                    <div class="active-indicator"></div>
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="AccountBeheer" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Inter', sans-serif; letter-spacing: 0.16px;"
                         ActiveClass="active-link"
                         onmouseover="this.style.color='#FF6700';" onmouseout="this.style.color='#1A222D';">
                    <span class="" aria-hidden="true"></span> Account beheer
                    <div class="active-indicator"></div>
                </NavLink>
            </div>
        </div>
    }

    @if (!loggedIn && role != "Admin")
    {
        <div class="home-buttons">
            <div class="signInButton" style="background-color: #10ADE5;">
                <NavLink href="signIn" Match="NavLinkMatch.All"
                         style="color: #F5F5F5; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Ubuntu', sans-serif;">
                    <span class="" aria-hidden="true"></span> INLOGGEN
                </NavLink>
            </div>
            <div class="registerButton" style="background-color: #FF6700;">
                <NavLink href="" Match="NavLinkMatch.All"
                         style="color: #F5F5F5; font-weight: bold; text-decoration: none; font-size: 1.7vmin; font-family: 'Ubuntu', sans-serif; ">
                    <span class="" aria-hidden="true"></span> REGISTREREN
                </NavLink>
            </div>
        </div>
    }



    @if (loggedIn || role == "Admin")
    {
        <div class="profile_pic" @onclick="() => navigateToHome()">
            <img class="profile_pic" src="images/Microsoft_account-Logo.png" alt="logo" />
        </div>
    }



</div>

@code {
    private bool isPageInitialized = false;
    private bool loggedIn = false;
    private string role = "";

    protected override async void OnInitialized()
    {
        if (!isPageInitialized)
        {
            isPageInitialized = true;
            await Task.Delay(100);

            if (!AuthService.IsLoggedIn || AuthService.Role != "Admin" || AuthService.Role == null || AuthService.Role == "")
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            this.AuthService.subscribe(this);
        }
    }

    public void update(){
        Console.WriteLine("Update()");
        this.loggedIn = AuthService.IsLoggedIn;
        this.role = AuthService.Role;
        Console.WriteLine("Navbar loggedIn: " + loggedIn);
        Console.WriteLine("Navbar Role: " + role);
        InvokeAsync(() => StateHasChanged());
    }


    private void navigateToHome()
    {
        NavigationManager.NavigateTo("/");
        AuthService.LogOut();
    }
}


