@using Ipsen5_groep01_frontend.Models
@rendermode InteractiveServer

<div class="navbar">
    <!-- StaffingNow Logo -->
    <img class="staffingnow_logo" src="images/staffingnow_logo.png" alt="logo" />

    @if (isAdmin == false)
    {
        <div class="admin-buttons">
            <div class="button">
                <NavLink href="proffesionals" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.9vmin; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.16px;">
                    <span class="" aria-hidden="true"></span> PROFESSIONALS
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="InterneMedewerkerDossierScherm" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.9vmin; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.16px;">
                    <span class="" aria-hidden="true"></span> DOSSIERS
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="documentbeheer" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.9vmin; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.16px;">
                    <span class="" aria-hidden="true"></span> DOCUMENT BEHEER
                </NavLink>
            </div>
            <div class="button">
                <NavLink href="account" Match="NavLinkMatch.All"
                         style="color: #1A222D; font-weight: bold; text-decoration: none; font-size: 1.9vmin; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.16px;">
                    <span class="" aria-hidden="true"></span> ACCOUNT BEHEER
                </NavLink>
            </div>
        </div>
    }

   
    <!-- Buttons when logged in as Leverancier -->
@* 
    @if()
    <div class="home-buttons" hidden="@(!loggedIn)">
        <div class="button" style="background-color: #10ADE5;">
            <NavLink href="" Match="NavLinkMatch.All"
                     style="color: #F5F5F5; font-weight: bold; text-decoration: none; font-size: 22px; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.16px;">
                <span class="" aria-hidden="true"></span> INLOGGEN
            </NavLink>
        </div>
        <div class="button" style="background-color: #FF6700;">
            <NavLink href="" Match="NavLinkMatch.All"
                     style="color: #F5F5F5; font-weight: bold; text-decoration: none; font-size: 22px; font-family: 'Ubuntu', sans-serif; letter-spacing: 0.16px;">
                <span class="" aria-hidden="true"></span> REGISTREREN
            </NavLink>
        </div>
    </div> *@

    <!-- Profile picture -->
    <div class="profile_pic"
         hidden="@(loggedIn)">
        <img class="profile_pic" src="images/Microsoft_account-Logo.png" alt="logo" />
    </div>

    
</div>

@code {
    private bool? loggedIn;
    private bool? isAdmin;
    private bool? isUser;

    private SignInModel _signInModel;
    private string Role;

    public NavMenu()
    {

    }

    public NavMenu(SignInModel signInModel)
    {
        Role = signInModel.Role;
        _signInModel = signInModel;

        if (_signInModel != null)
        {
            GetRoles();
        }
    }

   

    private void GetRoles()
    {
        if (!string.IsNullOrEmpty(_signInModel.Role))
        {
            var role = _signInModel.Role;

            if (role.Equals("Admin", StringComparison.InvariantCultureIgnoreCase))
            {
                isAdmin = true;
                loggedIn = true;
                isUser = null;
            }
            else if (role.Equals("User", StringComparison.InvariantCultureIgnoreCase))
            {
                isUser = true;
                loggedIn = true;
                isAdmin = null;

            }
            else
            {
                isAdmin = null;
                loggedIn = false;
                isUser = null;
            }
        }
    }
}

