.navbar {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.staffingnow_logo {
    width: 100%;
    max-width: 330px;
    margin-left: 5%;
}

.profile_pic {
    height: 130px;
    max-width: 100%;
}

.admin-buttons, .home-buttons {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

.home-buttons{
   justify-content: right;
   margin-right: 15%;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .staffingnow_logo {
        margin-left: 5%;
    }

    .profile_pic {
        height: 100px;
    }

    .button {
        min-width: 120px;
    }
}
