@page "/AccountBeheer"
@using Services;

@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h1>AccountBeheer</h1>

@code {
    protected override void OnInitialized()
    {
        if (!AuthService.IsLoggedIn || AuthService.Role != "Admin")
        {
            NavigationManager.NavigateTo("/signin");
        }
    }
}
