@page "/account"
@rendermode InteractiveServer


@using Services
@using Models
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject AuthService AuthService
@inject NotificatieService NotificationService


<div class="user-container-background">
    <div class="page-title">Accounts</div>
    <div class="filter-container">
        <div class="filters">
            <div class="search-container">
                <EditForm Model="users" FormName="createCustomerAddressForm">
                    <DataAnnotationsValidator />

                    <div class="form-group search-field">
                        <InputText id="name" @bind-Value="tijdelijk" class="form-control" placeholder="Zoeken"></InputText>
                    </div>

                </EditForm>
            </div>

            <div class="dropdown-container">
                <select class="dropdown-field">
                    <option value="">Selecteer filter</option>
                    <option value="option1">Optie 1</option>
                    <option value="option2">Optie 2</option>
                    <option value="option3">Optie 3</option>
                </select>
            </div>

        </div>
        
        <div class="new-user-button-container">
            <button class="new-user-button" @onclick="() => NavigateToNewAccount()">Nieuw account</button>
        </div>
        

    </div>
    <div class="user-container">
        <div class="user-header">
            <div class="header-title">Voornaam</div>
            <div class="header-title">Achternaam</div>
            <div class="header-title">Email</div>
            <div class="header-title"></div>
            <div class="header-title"></div>
            <div class="header-title">Acties</div>
        </div>

        @foreach (var user in users.Skip((currentPage - 1) * pageSize).Take(pageSize))
        {
                <div class="users">
                    <div>@user.FirstName</div>
                    <div>@user.LastName</div>
                    <div>@user.Email</div>
                    <div></div>
                    <div></div>
                    <button class="view_user" @onclick="() => NavigateToUserDetails(user.Id.ToString())">
                        <img class="eye_icon" src="/icons/eye-5.png" alt="Bekijk" />
                    </button>
                    <button class="edit_user">
                        <img class="edit_icon" src="/icons/edit-3.png" alt="Bewerk" />
                    </button>
                    @if(user.IsActive)
                    {
                        <button class="delete_user" @onclick="() => DisableUser(user.Id.ToString())">
                            <img class="delete_icon" src="/icons/trash-2.png" alt="Verwijder" />
                        </button>
                    }
                    @if(!user.IsActive)
                    {
                        <button class="delete_user" @onclick="() => EnableUser(user.Id.ToString())">
                            <img class="delete_icon" src="/icons/trash-1.png" alt="Maak account actief" />
                        </button>
                    }

                </div>
        }

        <div class="pagination-container">
            <div class="pagination-buttons">

                <button class="previous-page-button" @onclick="() => ChangePage(-1)">
                    @if (currentPage > 1)
                    {
                        <img class="rotate-18" src="/icons/left-arrow-icon.svg" alt="Bewerk" />
                    }
                </button>

                <div class="pagination-info">
                    @currentPage van @totalPages
                </div>

                <button class="next-page-button" @onclick="() => ChangePage(1)">
                    @if (users.Count() > currentPage * pageSize)
                    {
                        <img class="rotate-180" src="/icons/left-arrow-icon.svg" alt="Bewerk" />
                    }
                </button>

            </div>
        </div>

    </div>
</div>



@code {
    private List<User> users = new List<User>();

    private int pageSize = 10;
    private int currentPage = 1;
    private int totalPages => (int)Math.Ceiling((double)users.Count() / pageSize);
    private string tijdelijk = "";

    private RequestMakerService _requestMakerService;
    private CustomerService _customerService;
    private CandidateService _candidateService;


    private List<Candidate> _candidates = [];
    private List<Customer> _customers = [];


    public AccountManagementPage()
    {

    }
    
    protected override void OnInitialized()
    {


        if (!AuthService.IsLoggedIn || AuthService.Role != "Admin")
        {
            NavigationManager.NavigateTo("/signin");
        }


        _requestMakerService = new RequestMakerService(HttpClient);
        _customerService = new CustomerService(_requestMakerService);
        _candidateService = new CandidateService(_requestMakerService);

        base.OnInitialized();
    }


    private async Task<Customer> GetCustomerById(Guid customerId)
    {
        var customer = await _customerService.GetCustomerById(customerId);
        return customer;
    }

    private Dictionary<Guid, Customer> customers = new Dictionary<Guid, Customer>();
    private Dictionary<Guid, Candidate> candidates = new Dictionary<Guid, Candidate>();


    protected override async Task OnInitializedAsync()
    {
        await GetAllUsers();
    }

    private string getCandidateNameById(Guid id){
        var Candidate = _candidates.FirstOrDefault(ut => ut.Id == id);
        return Candidate?.FirstName + " " + Candidate?.LastName ?? "Unknown";
    }

    private string getCustomerNameById(Guid id)
    {
        var customer = _customers.FirstOrDefault(ut => ut.Id == id);

        return customer.Name ?? "Unknown";
    }


    public async Task<List<User>> GetAllUsers()
    {
        var response = await _requestMakerService.MakeGetRequest("user/getallusers");
        var json = await response.Content.ReadAsStringAsync();

        var outerObject = JObject.Parse(json);
        Console.WriteLine(outerObject);
        var userArray = outerObject["result"]["userDto"];

        if(userArray == null){
            NotificationService.Notify("Er zijn geen accounts geladen.", NotificationType.Error);
        }


        users.Clear();
        foreach (var jToken in userArray)
        {

            var user = new User();
            user.Id = Guid.Parse((string)jToken["id"]);
            user.FirstName = (string)jToken["firstName"];
            user.LastName = (string)jToken["lastName"];
            user.Email = (string)jToken["email"];
            user.IsActive = (bool)jToken["isActive"];
            
            users.Add(user);
        }
        return users;
    }
    
    private async Task DisableUser(string id)
    {
        var response = await _requestMakerService.MakePutRequest($"user/disable/{id}", "");
        if (response.IsSuccessStatusCode)
        {
            await GetAllUsers();
        }
    }

    private async Task EnableUser(string id)
    {
        var response = await _requestMakerService.MakePutRequest($"user/enable/{id}", "");
        if (response.IsSuccessStatusCode)
        {
            await GetAllUsers();
        }
    }

    private string GetBackgroundColor(string status)
    {
        return status switch
        {
            "New" => "lightgreen",
            "Completed" => "#AA77FF",
            _ => "lightblue"
        };
    }

    private void NavigateToUserDetails(string userId)
    {
        NavigationManager.NavigateTo($"/DocumentBeoordelen/{userId}");
    }
    

    void ChangePage(int increment)
    {
        currentPage += increment;
    }


    private void NavigateToNewAccount()
    {
        NavigationManager.NavigateTo($"/AccountCreationPage");
    }

}