.contract-container-background {
    background-color: transparent;
    display: flex;
    flex: 1;
    margin-left: 6.5vmin;
    margin-right: 6.5vmin;
    margin-top: 1.5vmin;
    flex-direction: column;
    height: 86vmin;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    gap: 2vmin;
}

.new-contract-button {
    width: 18vmin;
    height: 4vmin;
    font-family: Ubuntu, sans-serif;
    color: white;
    background-color: white;
    border: solid 0.3vmin #0a80fe;
    color: #0a80fe;
    font-size: 1.6vmin;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .new-contract-button:hover {
        background-color: #0a80fe;
        color: white;
    }


.search-field {
    width: 45vmin;
    height: 4vmin;
    font-family: Ubuntu, sans-serif;
    font-size: 1.6vmin;
    font-weight: bold;
    transition: background-color 0.3s;
}

.dropdown-field {
    width: 25vmin;
    height: 4vmin;
    font-family: Ubuntu, sans-serif;
    font-size: 1.6vmin;
}


.contract-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-top: 2vmin;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contract-header {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.8fr 0.5fr 1.15fr 0.2fr 0.2fr 0.2fr;
    padding: 1.5vmin;
    background-color: #0a80fe;
}

.header-title {
    font-weight: 700;
    color: white;
    font-size: 1.5vmin;
}

.contract-header div {
    padding-left: 1vmin
}
.contract-container-border {
    border-radius: 1.6vmin;
}
.contracts {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.8fr 0.5fr 1.15fr 0.2fr 0.2fr 0.2fr;
    border-left-width: 0.1vmin;
    border-right-width: 0.1vmin;
    border-bottom-width: 0.1vmin;
    border-color: #e2e4e4;
    border-top-width: 0;
    border-style: solid;
    padding-left: 1vmin;
    padding-right: 1vmin;
    padding-top: 2vmin;
    padding-bottom: 1.7vmin;
    transition: background-color 0.3s;
}

    .contracts:hover {
        background-color: #e2e4e4;
    }

    .contracts div {
        padding-left: 1.2vmin
    }

.status-container-color {
    display: inline-flex;
    width: auto;
    align-items: center;
    
}
.status {
    display: flex;
    justify-content: center;
    padding: 0.1vmin 1.2vmin; 
    border-radius: 1vmin; 
}
.view_contract {
    background-color: transparent;
    display: flex;
    justify-content:center;
    border: none;
    width: 4vmin;
}

.eye_icon {
    width: 2.8vmin;
}


.delete_contract {
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    width: 2vmin;
    padding-top: 0.2vmin;
}

.delete_icon {
    width: 2.5vmin;
}

.edit_contract {
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    width: 3vmin;
    height: 1vmin;
    padding-top: 0.4vmin;
}

.edit_icon {
    width: 2.5vmin;
}

.contract-footer {
    padding: 0.1vmin;
    background-color: #ffffff;
    border-top-left-radius: -1.5vmin;
    border-top-right-radius: -1.5vmin;
    border-left-width: 0.1vmin;
    border-right-width: 0.1vmin;
}


.pagination-container {
    position: fixed;
    bottom: 3vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 50vmin;
    background-color: white;
    text-align: center;
    background-color: transparent;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    margin: 1vmin;
}

.previous-page-button {
    width: 5vmin;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 0.5vmin;
}

.next-page-button {
    width: 5vmin;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 0.5vmin;
}

.pagination-info {
    padding-top: 1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.rotate-180 {
    transform: rotate(180deg);
}


