.customer-container-background {
    background-color: #f6f6f6;
    display: flex;
    flex: 1;
    margin-left: 6.5vmin;
    margin-right: 6.5vmin;
    margin-top: 2vmin;
    flex-direction: column;
    height: 86vmin;
    border-radius: 1.5vmin;
}

.text-fieldcontrainer{
    display: flex;
    justify-content: space-between;
    padding-right: 10vmin;
}

.field-container {
    /*background-color: blue;*/
    width: 130vmin;
}

.name-number-contrainer {
    display: flex;
    gap: 5vmin;
    margin-top: 10vmin;
    font-weight: bold;
}

.title-container{
    padding-top: 5vmin;
}

.text-field {
    width: 50vmin;
}



.page-name-container {
    font-size: 4vmin;
    font-weight: bold;
}

.customer-name-container {
    padding-top: 10vmin;
    font-size: 3vmin;
    font-weight: bold;
}

.instructions-container {
    font-size: 2vmin;
    padding-top: 1vmin;
    font-weight: bold;
}

.next-button-container {
    display: flex;
    justify-content: end;
    margin-right: 3vmin;
    margin-top: 26vmin;
}

.next-button-container-dropdown {
    display: flex;
    justify-content: end;
    margin-right: 3vmin;
 
}

.next-button {
    width: 20vmin;
    height: 10vmin;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3vmin;
}

.next-button-image{
    width: 8vmin;
    color
}

.wizard-container {
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
    background-color: #0a80fe;
    width: 35vmin;
    height: 86vmin;
}

.items-wizard {
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    margin-left: 3vmin;
    margin-top: 7vmin;
}

.basic-info-container {
    display: flex;
    font-size: 1.8vmin;
    color: white;
}


.basic-info {
    display: flex;
    font-size: 1.8vmin;
    color: white;
    padding-top: 0.2vmin;
}

.basic-info-faded {
    display: flex;
    font-size: 1.8vmin;
    color: #6bb3fe;
    padding-top: 0.2vmin;
}

.address-wizard {
    display: flex;
    font-size: 1.8vmin;
    color: #6bb3fe;
    padding-top: 0.2vmin;
}

.required-documents-wizard-container {
    display: flex;
    font-size: 1.8vmin;
    padding-top: 0.2vmin;
}

.required-documents-wizard {
    display: flex;
    font-size: 1.8vmin;
    color: #6bb3fe;
    padding-top: 0.2vmin;
}

.last-check-wizard {
    display: flex;
    font-size: 1.8vmin;
    padding-top: 0.2vmin;
    color: #6bb3fe;
}

.last-check {
    padding-top: 0.2vmin;
}

.number-wizard-image {
    width: 3.1vmin;
    margin-right: 2vmin;
}
.number-wizard-image-1 {
    width: 2.7vmin;
    height: 2.7vmin;
    margin-right: 2vmin;
    margin-left: 0.25vmin;
}

.question-mark {
    display: flex;
    align-items: end;
    margin-top: 46vmin;
    margin-left: 13vmin;
}
.question-mark-image {
    height: 4vmin;
}

.dropdownlist {
    width: 50vmin;
    height: 30vmin;
}