@page "/documentbeheer"
@attribute [StreamRendering]
@using Ipsen5_groep01_frontend.Components.Services
@inject Ipsen5_groep01_frontend.Components.Services.DocumentenService DocumentenService

<div class="decorative-bar" style="width:100%; height: 70px; background: linear-gradient(0.25turn, #FF6700 0%, #1A222D 53%, #183749 70%, #10ADE5 100%); margin-bottom: 30px;"></div>
<PageTitle>Documentbeheer</PageTitle>

<div class="documenten-container">
    <div class="container">
        <NavLink href="NewDocument" Match="NavLinkMatch.All" class="nav-link">
            <button class="add-button">Nieuw document</button>
        </NavLink>
    </div>
    <div class="header">
        <h1>Documenten</h1>
        <h2>Verplicht</h2>
    </div>

    <div class="documenten">
        <ul class="documenten-list">
            @if (documenten != null)
            {
                @foreach (var document in documenten)
                {
                    <li class="document">
                        <span class="naam">@document.Naam</span>
                        <input class="document-checkbox" type="checkbox" @bind="document.Verplicht" />
                    </li>
                }
            }
            else
            {
                <li>Geen documenten gevonden</li>
            }
        </ul>
    </div>
</div>

@code {
    private List<Document> documenten;

    protected override async Task OnInitializedAsync()
{
    documenten = await DocumentenService.GetDocumentenAsync();
    StateHasChanged(); // Make sure to force the component to re-render after data is loaded.
}
}
