@page "/documentbeheer"
@attribute [StreamRendering]
<div class="decorative-bar" style="width:100%; height: 70px; background: linear-gradient(0.25turn, #FF6700 0%, #1A222D 53%, #183749 70%, #10ADE5 100%); margin-bottom: 30px;"></div>
<PageTitle>Documentbeheer</PageTitle>

<div class="documenten-container">
    <button @onclick="Toevoegen" class="add-button">Nieuw document</button>
    <div class="header">
        <h1>Documenten</h1>
        <h2>Verplicht</h2>
    </div>

    <div class="documenten">
        <ul class="documenten-list">
            @foreach (var document in documenten)
            {
                <li class="document">
                    <span class="naam">@document.Naam</span>
                    <input class="document-checkbox" type="checkbox" @bind="document.Verplicht" /> 
                </li>
            }
        </ul>
    </div>
</div>

@code {
    private List<Document> documenten = new List<Document>
    {
        new Document { Naam = "Document 1", Verplicht = true },
        new Document { Naam = "Document 2", Verplicht = false },
        new Document { Naam = "Document 3", Verplicht = true }
    };

    void Toevoegen()
    {
        // Logica voor het toevoegen van een nieuw document
    }

    public class Document
    {
        public string Naam { get; set; }
        public bool Verplicht { get; set; }
    }

}