/* Documenten.css */

.documenten-container {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Plaats de knop bovenaan */
}

.add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Afstand tussen de knop en de header */
    align-self: flex-end; /* Plaats de knop aan de rechterkant van de container */
}

    .add-button:hover {
        background-color: #0056b3;
    }

.header {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header h1, .header h2 {
        margin: 0;
    }

.documenten {
    margin-bottom: 20px;
}

.documenten-list {
    list-style: none;
    padding: 0;
}

.document {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .document .naam {
        margin-right: 20px;
    }
