.wizard-layout {
    display: flex;
    /*grid-template-columns: 1fr 2fr; */
    gap: 75px;
    margin-left: 15em; /* Adjust left margin to move it slightly towards the center */

}

.wizard-design {
    height: 50%;
    margin-top: 1em;
    /*align-self: center;*/
}

.wizard-progress h1 {
    margin-top: 1em; 
    /*text-align: center; */
}

.wizard-form {
    width: 400px;
    margin-top: 3em;
}

.wizard-form label {
    display: block;
    margin-bottom: 5px;
}

.wizard-form InputText {
    margin-bottom: 10px;
}

.edit-form  {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.edit-form-field {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Align buttons to the right */
    /*position: absolute; !* Position the buttons relative to their containing wizard form *!*/
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
}

.btn {
    background-color: #10ade5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0a8ab9;
}

.btn-secondary {
    background-color: #b4b4b4;
}

.btn-secondary:hover {
    background-color: #a7a7a7;
}