@page "/"
@inject NavigationManager NavigationManager


<PageTitle>StaffingNow</PageTitle>

<div class="page">
    <div class="linear-gradient-Container">

        <div class="text-container">
            <div class="company-name-container">
                <div class="company-name">
                    StaffingNow
                </div>
            </div>
            <div class="company-description">
                Gespecialiseerd in de bemiddeling van IT professionals voor interim opdrachten in de Benelux
            </div>
        </div>

    </div>
    <div></div>
    <div class="footer">
        <div class="footer-text-container">
            <div class="footer-text">
                © 2024 StaffingNow. All rights reserved
            </div>
        </div>
    </div>
</div>



@code{
    public void NavigateToSignIn()
    {
        NavigationManager.NavigateTo("/signIn");
    }
}


