@page "/InterneMedewerkerDossierInzien/{DossierCode}"
@rendermode InteractiveServer
@using Models

<div class="container">
    <div class="blocks">
        <p class="dossier-name">@DossierCode</p>
        <div class="bolletjes">
            <div class="basis bolletje-container " @onclick="() => SwitchToPage(1)">
                <div class="bolletje">
                    1
                </div>
                <p>Basis</p>
                @if(page == 1){
                    <div class="line"></div>
                }
                
            </div>
            <div class="overig bolletje-container" @onclick="() => SwitchToPage(2)">
                <div class="bolletje">
                    2
                </div>
                <p>Overig</p>
                @if(page == 2){
                    <p class="line"></p>
                }
                
            </div>
        </div>
        @if(page == 1){
                 <div class="basis-gegevens" >
                    <div class="gegevens @((showPersoonsGegevens) ? "opened" : "")" @onclick="TogglePersoonsGegevens">
                        <p class="title">
                            Persoons gegevens
                            @if (showPersoonsGegevens)
                            {
                                <span>&#x25B2;</span>
                            }
                            else
                            {
                                <span>&#x25BC;</span>
                            }
                        </p>
                        @if (showPersoonsGegevens){
                            <div class="info">
                                <p class="informatie-vak">Voornaam: Max</p>
                                <p class="informatie-vak">Achternaam: Haijes</p>
                                <p class="informatie-vak">Geboortedatum: 12-12-2012</p>
                                <p class="informatie-vak">BSN: 111222333</p>
                                <a class="informatie-vak passpoort" href="">Paspoort</a>
                                <button class="button ok-button" @onclick:stopPropagation>✔</button>
                                <button class="button no-button" @onclick:stopPropagation>X</button>
                            </div> 
                        }
                        
                    </div>
                    <div class="gegevens @((showBedrijfsGegevens) ? "opened" : "")" @onclick="ToggleBedrijfsGegevens">
                        <p class="title">
                            Bedrijfs gegevens
                            @if (showPersoonsGegevens)
                            {
                                <span>&#x25B2;</span>
                            }
                            else
                            {
                                <span>&#x25BC;</span>
                            }
                        </p>
                        @if (showBedrijfsGegevens){
                            <div class="info">
                                <p class="informatie-vak">Naam: Pornhub</p>
                                <p class="informatie-vak">KVK-nummer: 5684 6846</p>
                                <p class="informatie-vak">Adress: Jouw telefoon</p>
                                <p class="informatie-vak">Oprichtingsdatum: 12-12-1212</p>
                                <a class="informatie-vak organogram">organogram</a>
                                <button class="button ok-button" @onclick:stopPropagation>✔</button>
                                <button class="button no-button" @onclick:stopPropagation>X</button>
                            </div> 
                        }
                    </div>
                </div>
            } else if(page == 2){
                <div class="overige-gegevens">

                </div>
            }
    </div>
</div>

@code {
    [Parameter]
    public string DossierCode { get; set; }
    private bool showPersoonsGegevens = false;
    private bool showBedrijfsGegevens = false;
    private int page = 1;

    private void TogglePersoonsGegevens()
    {
        showPersoonsGegevens = !showPersoonsGegevens;
    }

    private void ToggleBedrijfsGegevens()
    {
        showBedrijfsGegevens = !showBedrijfsGegevens;
    }

    private void SwitchToPage(int pageNumber)
    {
        page = pageNumber;
    }
}
