@page "/InterneMedewerkerDossierInzien/{DossierCode}"
@rendermode InteractiveServer
@using Models

<div class="container">
    <div class="blocks">
        <p class="dossier-name">@DossierCode</p>
        <div class="basis-gegevens" >
            Basis Gegevens
            <div class="persoons-gegevens @((showPersoonsGegevens) ? "opened" : "")" @onclick="TogglePersoonsGegevens">
                <p class="title">persoons gegevens</p>
                @if (showPersoonsGegevens){
                    <div class="info">
                        <p class="informatie-vak">Voornaam: Max</p>
                        <p class="informatie-vak">Achternaam: Haijes</p>
                        <p class="informatie-vak">Geboortedatum: 12-12-2012</p>
                        <p class="informatie-vak">BSN: 111222333</p>
                        <a class="informatie-vak passpoort" href="">Paspoort</a>
                        <button class="button ok-button" @onclick:stopPropagation>✔</button>
                        <button class="button no-button" @onclick:stopPropagation>X</button>
                    </div> 
                }
                
            </div>
            <div class="persoons-gegevens @((showBedrijfsGegevens) ? "opened" : "")" @onclick="ToggleBedrijfsGegevens">
                <p class="title">Bedrijfs gegevens</p>
                @if (showBedrijfsGegevens){
                    <div class="info">
                        <p class="informatie-vak">Naam: Pornhub</p>
                        <p class="informatie-vak">KVK-nummer: </p>
                        <p class="informatie-vak">Adress: Jouw telefoon</p>
                        <p class="informatie-vak">Oprichtingsdatum: 12-12-1212</p>
                        <a class="informatie-vak organogram">organogram</a>
                        <button class="button ok-button" @onclick:stopPropagation>✔</button>
                        <button class="button no-button" @onclick:stopPropagation>X</button>
                    </div> 
                }
                
            </div>
            
        </div>
        <div class="overige-gegevens">

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string DossierCode { get; set; }
    private bool showPersoonsGegevens = false;
    private bool showBedrijfsGegevens = false;

    private void TogglePersoonsGegevens()
    {
        showPersoonsGegevens = !showPersoonsGegevens;
    }

    private void ToggleBedrijfsGegevens()
    {
        showBedrijfsGegevens = !showBedrijfsGegevens;
    }
}
