@page "/NewDocument"
@attribute [StreamRendering]
<div class="decorative-bar" style="width:100%; height: 70px; background: linear-gradient(0.25turn, #FF6700 0%, #1A222D 53%, #183749 70%, #10ADE5 100%); margin-bottom: 30px;"></div>
<PageTitle>Nieuw Document</PageTitle>


<div class="documenten-container">
    <div class="container">
    <NavLink href="documentbeheer" Match="NavLinkMatch.All" class="nav-link">
        <button @onclick="Opslaan" class="add-button">Opslaan document</button>
    </NavLink>
    </div>
    <div class="header">
        <h1>Document</h1>
        <h2>Verplicht</h2>
        <h2 class="extensies">Extensies</h2>
    </div>
     <div class="input-section">
        <input type="text" placeholder="Voer de naam in" class="document-name" />
        <input class="document-checkbox" type="checkbox" />
        <select class="document-extensie">
        <option value=".pdf">.pdf</option>
        <option value=".docx">.docx</option>
        <option value=".txt">.txt</option>
    </select>
    </div>
</div>

@code {
    private List<Document> documenten = new List<Document>
    {
        new Document { Naam = "Document 1", Verplicht = true },
        new Document { Naam = "Document 2", Verplicht = false },
        new Document { Naam = "Document 3", Verplicht = true }
    };

    void Opslaan()
    {
        // Logica voor het toevoegen van een nieuw document
    }

    public class Document
    {
        public string Naam { get; set; }
        public bool Verplicht { get; set; }
    }

}