@page "/NewDocument"
@attribute [StreamRendering]
@using Ipsen5_groep01_frontend.Components.Services
@inject Ipsen5_groep01_frontend.Components.Services.UploadTypeService UploadTypeService
@inject NavigationManager NavigationManager

@using Ipsen5_groep01_frontend.Models
@using Services
@inject LoginService LoginService


<div class="decorative-bar" style="width:100%; height: 70px; background: linear-gradient(0.25turn, #FF6700 0%, #1A222D 53%, #183749 70%, #10ADE5 100%); margin-bottom: 30px;"></div>
<PageTitle>Nieuw Document</PageTitle>

<div class="documenten-container">
    <div class="container">
        <button class="navigate-button" @onclick="()=>navigate()">Terug</button>
        <button @onclick="Opslaan" class="add-button">Opslaan document</button>
    </div>
    <div class="header">
        <h1>Document</h1>
        <h2>Verplicht</h2>
        <h2 class="extensies">Extensie</h2>
    </div>
    <div class="input-section">
        <input @bind="documentName" type="text" placeholder="Voer de naam in" class="document-name" />
        <input @bind="Required" class="document-checkbox" type="checkbox" />
        <select @bind="DocumentType" class="document-extensie">
            <option value="Pdf">pdf</option>
            <option value="Docx">docx</option>
            <option value="Txt">txt</option>
        </select>
    </div>
</div>

@code {
    private string documentName;
    private string DocumentType;
    private bool Required;

    protected override void OnAfterRender(bool firstRender){
        if(firstRender){
            LoginService.setIsAdmin(true);
            LoginService.setLoggedIn(true);
        }
    }

   public async Task Opslaan()
    {
        var nieuwDocument = new UploadType()
    {
        Type = documentName,
        DocumentType = DocumentType,
        Required = Required
    };
       UploadTypeService.ToevoegenDocument(nieuwDocument);
       await UploadTypeService.ToevoegenDocumentAsync(nieuwDocument);
       navigate();
    }

    private void navigate(){
        NavigationManager.NavigateTo("/documentbeheer");
    }

}
