@page "/Professionals"
@using Services;
@using Ipsen5_groep01_frontend.Services
@inject LoginService LoginService

<h1>Professionals</h1>

@code {
     protected override void OnAfterRender(bool firstRender){
        if(firstRender){
            LoginService.setIsAdmin(true);
            LoginService.setLoggedIn(true);
        }
    }
}
